body {
  color: beige;
}

header {
  background-color: rgb(126, 164, 146);
  width: 60vw;
  height: 10vh;
  margin: 20px auto 10px auto;
  border: 5px double lightblue;
  box-sizing: border-box;
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  font-size: 20px;
}
header .container .last-updated {
  width: 350px;
  text-align: center;
}
header .container .last-updated p {
  margin: 0;
  font-style: italic;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
header .container .nav-bar {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
}
header .container .nav-bar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
header .container .nav-bar .underline {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.6);
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
}

section {
  display: none;
}

section.active {
  display: block;
}
section.active .container {
  width: 60vw;
  background-color: rgb(126, 164, 146);
  margin: 0 auto;
  box-shadow: 10px 15px 20px 5px lightblue, -10px 10px 15px 5px lightgreen;
}

#about-me .container {
  height: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;
}
#about-me .container .image-container {
  width: 350px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#about-me .container .image-container img {
  width: 100%;
  height: 100%;
}
#about-me .container .intro-text {
  width: 55%;
  height: 480px;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#about-me .container .intro-text p {
  margin: 0 0 15px 0;
  font-size: 18px;
  text-align: justify;
  line-height: 28px;
}

#blog .container {
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  box-sizing: border-box;
}
#blog .container h3 {
  margin: 10px 20px;
  text-transform: uppercase;
  color: black;
}
#blog .container .interests .course {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  color: black;
}
#blog .container .interests .course a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
#blog .container .interests .course img {
  margin-right: 20px;
}
#blog .container .card {
  height: 80px;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}
#blog .container .card time {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}
#blog .container .card a {
  color: rgba(255, 255, 255, 0.6);
}
#blog .container .card p {
  width: 80%;
}
#blog .container .card time {
  width: 8%;
}

#projects .container {
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects .container .card {
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  border: 2px solid lightgrey;
}
#projects .container .card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#projects .container .card a {
  text-decoration: none;
  color: black;
}
#projects .container .card p {
  margin: 8px;
  text-align: justify;
}

.underline {
  text-decoration: underline !important;
  text-decoration-color: rgba(255, 255, 255, 0.6) !important;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 2px;
}

.flower {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -20%;
}

.flower:hover {
  transform: scale(1.5);
}

.petal {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: -1;
}

.petal1 {
  position: relative;
  left: -70%;
  top: 20%;
}

.petal2 {
  position: relative;
  top: -18%;
  left: -5%;
}

.petal3 {
  position: relative;
  top: -170%;
  left: 72%;
}

.petal4 {
  position: relative;
  top: -363%;
  left: -30%;
}

.petal5 {
  position: relative;
  top: -450%;
  left: 53%;
}

#flower1 {
  position: absolute;
  background-color: #D3D3D3;
  top: 7.5%;
  left: 5%;
}

#flower2 {
  position: absolute;
  background-color: #FFF0F5;
  top: calc(7.5% + 20%);
  left: 13.5%;
}

#flower3 {
  position: absolute;
  background-color: violet;
  top: calc(7.5% + 2 * 20%);
  left: 7.5%;
}

#flower4 {
  position: absolute;
  background-color: #E0FFFF;
  top: calc(7.5% + 3 * 20%);
  left: 13.5%;
}

#flower5 {
  position: absolute;
  background-color: red;
  top: calc(7.5% + 4 * 20%);
  left: 5%;
}

#flower6 {
  position: absolute;
  background-color: cyan;
  top: 7.5%;
  right: 5%;
}

#flower7 {
  position: absolute;
  background-color: #DEB887;
  top: calc(7.5% + 20%);
  right: 13.5%;
}

#flower8 {
  position: absolute;
  background-color: #F0FFF0;
  top: calc(7.5% + 2 * 20%);
  right: 7.5%;
}

#flower9 {
  position: absolute;
  background-color: magenta;
  top: calc(7.5% + 3 * 20%);
  right: 13.5%;
}

#flower10 {
  position: absolute;
  background-color: #FFE4E1;
  top: calc(7.5% + 4 * 20%);
  right: 5%;
}

.f1p {
  background-color: #48D1CC;
}

.f2p {
  background-color: #FFB6C1;
}

.f3p {
  background-color: #7B68EE;
}

.f4p {
  background-color: #EEE8AA;
}

.f5p {
  background-color: #D8BFD8;
}

.f6p {
  background-color: #7B68EE;
}

.f7p {
  background-color: #F5F5DC;
}

.f8p {
  background-color: #FF69B4;
}

.f9p {
  background-color: #E6E6FA;
}

.f10p {
  background-color: #00BFFF;
}

/*# sourceMappingURL=styles.css.map */
